.version
config.h
config_components.h
doc/config.texi
doc/examples/pc-uninstalled/
ffbuild/.config
ffbuild/config.fate
ffbuild/config.log
ffbuild/config.mak
ffbuild/config.sh
ffmpeg
ffmpeg_g

*.d
*.o

libavcodec/bsf_list.c
libavcodec/codec_list.c
libavcodec/libavcodec.a
libavcodec/libavcodec.pc
libavcodec/libavcodec.so
libavcodec/libavcodec.so.61
libavcodec/libavcodec.ver
libavcodec/libavcodec.version
libavcodec/parser_list.c
libavdevice/indev_list.c
libavdevice/libavdevice.pc
libavdevice/libavdevice.version
libavdevice/outdev_list.c
libavfilter/filter_list.c
libavfilter/libavfilter.a
libavfilter/libavfilter.pc
libavfilter/libavfilter.so
libavfilter/libavfilter.so.10
libavfilter/libavfilter.ver
libavfilter/libavfilter.version
libavformat/demuxer_list.c
libavformat/libavformat.a
libavformat/libavformat.pc
libavformat/libavformat.so
libavformat/libavformat.so.61
libavformat/libavformat.ver
libavformat/libavformat.version
libavformat/muxer_list.c
libavformat/protocol_list.c
libavutil/avconfig.h
libavutil/ffversion.h
libavutil/libavutil.a
libavutil/libavutil.pc
libavutil/libavutil.so
libavutil/libavutil.so.59
libavutil/libavutil.ver
libavutil/libavutil.version
libswresample/libswresample.a
libswresample/libswresample.pc
libswresample/libswresample.so
libswresample/libswresample.so.5
libswresample/libswresample.ver
libswresample/libswresample.version
libswscale/libswscale.a
libswscale/libswscale.pc
libswscale/libswscale.so
libswscale/libswscale.so.8
libswscale/libswscale.ver
libswscale/libswscale.version
